#  TIỀN XỬ LÍ DỮ LIỆU

In [1]:
import pandas as pd

In [2]:
data= pd.read_csv('DataCoSupplyChainDataset.csv', encoding='ISO-8859-1')

In [3]:
print(data.head())

       Type  Days for shipping (real)  Days for shipment (scheduled)  \
0     DEBIT                         3                              4
1  TRANSFER                         5                              4
2      CASH                         4                              4
3     DEBIT                         3                              4
4   PAYMENT                         2                              4

   Benefit per order  Sales per customer   Delivery Status  \
0          91.250000          314.640015  Advance shipping
1        -249.089996          311.359985     Late delivery
2        -247.779999          309.720001  Shipping on time
3          22.860001          304.809998  Advance shipping
4         134.210007          298.250000  Advance shipping

   Late_delivery_risk  Category Id   Category Name Customer City  ...  \
0                   0           73  Sporting Goods        Caguas  ...
1                   1           73  Sporting Goods        Caguas  ...
2                   0           73  Sporting Goods      San Jose  ...
3                   0           73  Sporting Goods   Los Angeles  ...
4                   0           73  Sporting Goods        Caguas  ...

  Order Zipcode Product Card Id Product Category Id  Product Description  \
0           NaN            1360                  73                  NaN
1           NaN            1360                  73                  NaN
2           NaN            1360                  73                  NaN
3           NaN            1360                  73                  NaN
4           NaN            1360                  73                  NaN

                                  Product Image  Product Name Product Price  \
0  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
1  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
2  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
3  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
4  http://images.acmesports.sports/Smart+watch   Smart watch         327.75

  Product Status shipping date (DateOrders)   Shipping Mode
0              0             2/3/2018 22:56  Standard Class
1              0            1/18/2018 12:27  Standard Class
2              0            1/17/2018 12:06  Standard Class
3              0            1/16/2018 11:45  Standard Class
4              0            1/15/2018 11:24  Standard Class

[5 rows x 53 columns]

In [4]:
print(data.shape)

(180519, 53)

In [5]:
data

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 11:24,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 3:40,Standard Class
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 1:34,Second Class
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 21:00,Standard Class
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/18/2016 20:18,Standard Class
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 18:54,Standard Class

In [6]:
null_values = data.isnull().sum()

null_columns = null_values[null_values > 0]

print("Những cột có giá trị null:")
print(null_columns)

Những cột có giá trị null:
Customer Lname              8
Order Zipcode          155679
Product Description    180519
dtype: int64

In [7]:
data = data.fillna("Unknown")

In [8]:
null_values = data.isnull().sum()

null_columns = null_values[null_values > 0]

print("Những cột có giá trị null:")
print(null_columns)

Những cột có giá trị null:
Series([], dtype: int64)

In [9]:
selected_columns = data[['Customer Zipcode', 'Customer City', 'Customer Country', 'Customer State']]
unique_zipcode_data = selected_columns.drop_duplicates(subset='Customer Zipcode')
print(unique_zipcode_data)

       Customer Zipcode    Customer City Customer Country Customer State
0                   725           Caguas      Puerto Rico             PR
2                 95125         San Jose          EE. UU.             CA
3                 90027      Los Angeles          EE. UU.             CA
5                 14150        Tonawanda          EE. UU.             NY
7                 33162            Miami          EE. UU.             FL
...                 ...              ...              ...            ...
32397             33311  Fort Lauderdale          EE. UU.             FL
32724             11233         Brooklyn          EE. UU.             NY
33103             32210     Jacksonville          EE. UU.             FL
33174             89014        Henderson          EE. UU.             NV
33998              7306      Jersey City          EE. UU.             NJ

[995 rows x 4 columns]

In [10]:
unique_zipcode_data.to_csv('city.csv', index=False)

In [11]:
selected_columns = data[['Customer Zipcode', 'Customer Segment', 'Customer Id', 'Customer Fname', 'Customer Lname']]
unique_customer_data = selected_columns.drop_duplicates(subset='Customer Id')
print(unique_customer_data)

        Customer Zipcode Customer Segment  Customer Id Customer Fname  \
0                    725         Consumer        20755          Cally
1                    725         Consumer        19492          Irene
2                  95125         Consumer        19491        Gillian
3                  90027      Home Office        19490           Tana
4                    725        Corporate        19489           Orli
...                  ...              ...          ...            ...
179260               725      Home Office        18586          Diana
179261               725      Home Office        16322          Anika
179262               725      Home Office        18579           Yuri
179263               725      Home Office        16244       Hyacinth
179271               725      Home Office         2677           Mary

       Customer Lname
0            Holloway
1                Luna
2           Maldonado
3                Tate
4           Hendricks
...               ...
179260           Tran
179261      Davenport
179262          Smith
179263           Witt
179271          Davis

[20652 rows x 5 columns]

In [12]:
unique_customer_data.to_csv('customers.csv', index=False)

In [13]:
selected_columns = data[['Product Card Id', 'Product Name', 'Category Id', 'Product Status', 'Product Price']]
unique_product_data = selected_columns.drop_duplicates(subset='Product Card Id')
print(unique_product_data.head())

    Product Card Id                                   Product Name  \
0              1360                                   Smart watch
48              365               Perfect Fitness Perfect Rip Deck
49              627  Under Armour Girls' Toddler Spine Surge Runni
50              502           Nike Men's Dri-FIT Victory Golf Polo
55              278     Under Armour Men's Compression EV SL Slide

    Category Id  Product Status  Product Price
0            73               0     327.750000
48           17               0      59.990002
49           29               0      39.990002
50           24               0      50.000000
55           13               0      44.990002

In [14]:
unique_product_data.to_csv('product.csv', index=False)

In [15]:
selected_columns = data[['Category Id', 'Category Name']]
unique_category_data = selected_columns.drop_duplicates(subset='Category Id')
print(unique_category_data)

       Category Id         Category Name
0               73        Sporting Goods
48              17                Cleats
49              29         Shop By Sport
50              24       Women's Apparel
55              13           Electronics
56              12          Boxing & MMA
59               9      Cardio Equipment
61              41              Trade-In
62              37           Electronics
117             38      Kids' Golf Clubs
118             44    Hunting & Shooting
119              3   Baseball & Softball
138             18        Men's Footwear
143             43      Camping & Hiking
145             65  Consumer Electronics
146             62              Cameras
152             64             Computers
174              4            Basketball
175              2                Soccer
191             26        Girls' Apparel
197             40           Accessories
234             76      Women's Clothing
243             66                Crafts
272             70        Men's Clothing
294              6      Tennis & Racquet
301             11   Fitness Accessories
316             16       As Seen on  TV!
360             36            Golf Balls
547             10     Strength Training
624             63   Children's Clothing
775              5              Lacrosse
886             60                 Baby
1358            45               Fishing
1360            59                Books
1585            67                  DVDs
1590            61                  CDs
2325            68                Garden
2569             7                Hockey
3205            72          Pet Supplies
3208            69     Health and Beauty
3737            71                 Music
3923            75           Video Games
32151           35           Golf Gloves
50657           34     Golf Bags & Carts
50718           33            Golf Shoes
51242           32          Golf Apparel
51683           31    Women's Golf Clubs
51864           30      Men's Golf Clubs
52147           74                  Toys
52676           48          Water Sports
77052           46  Indoor/Outdoor Games

In [16]:
unique_category_data.to_csv('category.csv', index=False)

In [17]:
selected_columns = data[['Department Id', 'Department Name']]
unique_Department_data = selected_columns.drop_duplicates(subset='Department Id')
print(unique_Department_data)

      Department Id     Department Name
0                 2             Fitness
48                4             Apparel
49                5                Golf
55                3            Footwear
61                6            Outdoors
118               7            Fan Shop
145              10          Technology
1360              8           Book Shop
1585              9          Discs Shop
3205             11            Pet Shop
3208             12  Health and Beauty

In [18]:
unique_Department_data.to_csv('Department.csv', index=False)

In [19]:
selected_columns = data[['Order Id', 'Customer Id', 'Department Id', 'Order Status', 'Order Region', 'Order Country', 'Order State', 'Order City', 'Market','Type', 'order date (DateOrders)']]
unique_order_data = selected_columns.drop_duplicates(subset='Order Id')
print(unique_order_data)

        Order Id  Customer Id  Department Id     Order Status    Order Region  \
0          77202        20755              2         COMPLETE  Southeast Asia
1          75939        19492              2          PENDING      South Asia
2          75938        19491              2           CLOSED      South Asia
3          75937        19490              2         COMPLETE         Oceania
4          75936        19489              2  PENDING_PAYMENT         Oceania
...          ...          ...            ...              ...             ...
180312     26773         5857              7           CLOSED  Southeast Asia
180410     26463         9230              7  PENDING_PAYMENT    Eastern Asia
180430     26383         4618              7           CLOSED  Southeast Asia
180447     26327          989              7          ON_HOLD  Southeast Asia
180490     26118         6251              7  SUSPECTED_FRAUD      South Asia

       Order Country         Order State        Order City        Market  \
0          Indonesia     Java Occidental            Bekasi  Pacific Asia
1              India         RajastEEEn           Bikaner  Pacific Asia
2              India         RajastEEEn           Bikaner  Pacific Asia
3          Australia          Queensland        Townsville  Pacific Asia
4          Australia          Queensland        Townsville  Pacific Asia
...              ...                 ...               ...           ...
180312       Vietnam  Ciudad Ho Chi Minh  Ho Chi Minh City  Pacific Asia
180410         China               Hubei             Ezhou  Pacific Asia
180430       Malasia               Sabah             Tawau  Pacific Asia
180447     Indonesia        Java Central          Semarang  Pacific Asia
180490         India      Madhya Pradesh            Ratlam  Pacific Asia

            Type order date (DateOrders)
0          DEBIT         1/31/2018 22:56
1       TRANSFER         1/13/2018 12:27
2           CASH         1/13/2018 12:06
3          DEBIT         1/13/2018 11:45
4        PAYMENT         1/13/2018 11:24
...          ...                     ...
180312      CASH         1/26/2016 19:25
180410   PAYMENT          1/22/2016 6:49
180430      CASH          1/21/2016 2:47
180447     DEBIT          1/20/2016 7:10
180490  TRANSFER          1/17/2016 5:56

[65752 rows x 11 columns]

In [20]:
unique_order_data.to_csv('order.csv', index=False)

In [21]:
selected_columns = data[['Order Id', 'order date (DateOrders)', 'shipping date (DateOrders)', 'Late_delivery_risk', 'Days for shipment (scheduled)', 'Days for shipping (real)', 'Delivery Status', 'Shipping Mode']]
unique_Shipping_data = selected_columns.drop_duplicates(subset='Order Id')
print(unique_Shipping_data)

        Order Id order date (DateOrders) shipping date (DateOrders)  \
0          77202         1/31/2018 22:56             2/3/2018 22:56
1          75939         1/13/2018 12:27            1/18/2018 12:27
2          75938         1/13/2018 12:06            1/17/2018 12:06
3          75937         1/13/2018 11:45            1/16/2018 11:45
4          75936         1/13/2018 11:24            1/15/2018 11:24
...          ...                     ...                        ...
180312     26773         1/26/2016 19:25            1/28/2016 19:25
180410     26463          1/22/2016 6:49             1/26/2016 6:49
180430     26383          1/21/2016 2:47             1/25/2016 2:47
180447     26327          1/20/2016 7:10             1/23/2016 7:10
180490     26118          1/17/2016 5:56             1/21/2016 5:56

        Late_delivery_risk  Days for shipment (scheduled)  \
0                        0                              4
1                        1                              4
2                        0                              4
3                        0                              4
4                        0                              4
...                    ...                            ...
180312                   1                              1
180410                   0                              4
180430                   1                              2
180447                   0                              4
180490                   0                              4

        Days for shipping (real)    Delivery Status   Shipping Mode
0                              3   Advance shipping  Standard Class
1                              5      Late delivery  Standard Class
2                              4   Shipping on time  Standard Class
3                              3   Advance shipping  Standard Class
4                              2   Advance shipping  Standard Class
...                          ...                ...             ...
180312                         2      Late delivery     First Class
180410                         4   Shipping on time  Standard Class
180430                         4      Late delivery    Second Class
180447                         3   Advance shipping  Standard Class
180490                         4  Shipping canceled  Standard Class

[65752 rows x 8 columns]

In [22]:
unique_Shipping_data.to_csv('shipping.csv', index=False)

In [23]:
selected_columns = data[['Order Item Id', 'Order Id', 'Product Card Id', 'Order Item Quantity', 'Order Item Discount', 'Order Item Discount Rate', 'Order Item Profit Ratio', 'Order Item Total', 'Sales']]
unique_order_Item_data = selected_columns.drop_duplicates(subset='Order Item Id')
print(unique_order_Item_data)

        Order Item Id  Order Id  Product Card Id  Order Item Quantity  \
0              180517     77202             1360                    1
1              179254     75939             1360                    1
2              179253     75938             1360                    1
3              179252     75937             1360                    1
4              179251     75936             1360                    1
...               ...       ...              ...                  ...
180514          65177     26043             1004                    1
180515          65161     26037             1004                    1
180516          65129     26024             1004                    1
180517          65126     26022             1004                    1
180518          65113     26018             1004                    1

        Order Item Discount  Order Item Discount Rate  \
0                 13.110000                      0.04
1                 16.389999                      0.05
2                 18.030001                      0.06
3                 22.940001                      0.07
4                 29.500000                      0.09
...                     ...                       ...
180514             0.000000                      0.00
180515             4.000000                      0.01
180516             8.000000                      0.02
180517            12.000000                      0.03
180518            16.000000                      0.04

        Order Item Profit Ratio  Order Item Total       Sales
0                          0.29        314.640015  327.750000
1                         -0.80        311.359985  327.750000
2                         -0.80        309.720001  327.750000
3                          0.08        304.809998  327.750000
4                          0.45        298.250000  327.750000
...                         ...               ...         ...
180514                     0.10        399.980011  399.980011
180515                    -1.55        395.980011  399.980011
180516                     0.36        391.980011  399.980011
180517                     0.48        387.980011  399.980011
180518                     0.44        383.980011  399.980011

[180519 rows x 9 columns]

In [24]:
unique_order_Item_data.to_csv('order_Item.csv', index=False)